body {
    background-color: #EAEAEA;
    color: #333;
}
#inner_div ul div{
	background-color:#fff;
}
.tool_div{
	height:30px;
	padding-bottom:10px;
	background: #fff;
}
.tool_div span{
	float:left;
	display:inline-block;
	height:30px;
	line-height:30px;
}
#goodsList form{
    width: 100%;
    height: 100%;
}
#category{
    -webkit-appearance: none;
    margin-left: 5px;
    appearance: none;
    width: 65%;
    font-size: 12px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #333333;
    border-radius: 4px;
    color: #999;
    height: 100%;
  }

.search_span input{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    border-radius: 5px;
    /* border-width:1px;
    border-color:#fff; */
    border:none;
    background:#eaeaea;
    width: 85%;
    height:90%;
    font-size: 15px;
    padding: 0;
    padding-left: 5px;
    margin-top:1.5px;
}

.search_span i{
    height:100%;
    font-size: 15px;
    width: 10%;
    /*本来i没有和行对齐，加了它后就对齐了*/
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    
}
.header{
    background-color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

#inner_div ul #goodsList{
	width:100%;
	background:#eaeaea;
}
.goods_info p{
	margin:0;
	margin-left:10px;
	font-size:14px;
}
.goods_info p:first-child{
	margin-top:10px;
}
.price{
	color:red;
}
.goods_info .tipss{
	color:#999;
	font-size:12px;
}
 .tipss,.title{
	min-height:28px;
} 
.goods_div{
	margin-top:10px;
	background:#fff;
}
@media screen and (min-width:200px){
	.search_span{
	  width: 75%;
	}
	.select_span{
	  width:25%;
	}
	.goods_div:first-child{
		margin-top:10px;
	}
	.goods_div{
		width:97%;
		height:110px;
		padding:5px;
		margin-top:5px;
	}
	.goods_div div{
		float:left;	
		height:100%;
	}
	
	.goods_img{
		background: url('/wbb/img/test1.jpg') center center / contain no-repeat;
		width:40%;
	}
	.goods_info{
		width:60%;
	}
} 
 @media screen and (min-width:270px){
	.search_span{
	  width: 80%;
	}
	.select_span{
	  width:20%;
	}
} 
@media screen and (min-width:310px){
	
	.search_span{
	  width: 83%;
	}
	.select_span{
		width:17%;
	}
}
@media screen and (min-width:400px){
	
	.search_span{
	  width: 87%;
	}
	.select_span{
		width:13%;
	}
}
@media screen and (min-width:500px){
	
	.search_span{
	  width: 90%;
	}
	.select_span{
		width:10%;
	}
}
@media screen and (min-width:1020px){
	
	.search_span{
	  width: 94%;
	}
	.select_span{
		width:6%;
	}
	.goods_div{
		width:48%;
		height:200px;
		padding:5px;
		float:left;
		margin-left:10px;
		
		margin-top:10px;
	}
	.goods_div p{
		margin-top:30px;
	}
}
