input,textarea{
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	border-radius:0px;
}
._clear{
	clear:both;
}
.header{
	background-color:white;
	width:100%;
	height:50px;
	margin-bottom:30px;
	text-align:center;
	line-height:50px;
	font-size:18px;
}
.x-info{
	margin-bottom:10px;
	padding-top:10px;
	    vertical-align: middle;
}
.x_left{
	margin-left:30px;
    display: inline-block;
        color: #999;
}
.x_right{
	float:right;
	margin-right:25px;
	font-size: 20px
}

.x_right i{
	width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}



body{
	background-color: #EAEAEA;
	color:#333;
}
.user-heading{
	float:left;
	padding:0px;
	background-color: white;
	position: relative;
/* 	border-bottom:1px solid #ddd; */
}

.user-heading div{
	float:left;
	margin:10px;
}
.headImg{
	width:50px;
	height:50px;
	border-radius: 50%;
  	overflow: hidden;
}
.user-heading {
	width:100%;
}
.otherUserInfo{
}
.info_content{
}
.sex{
	width:16px;
	height:16px;
	display: inline-block;
	border-radius: 50%;
    text-align: center;
    line-height: 16px;
    color:white;
    font-size: 12px;
}
.male{
	background-color: #1690FD;
}

.female{
	background-color: #F8A2AB;
	padding-left:2px;
}

.info_div{
	background-color:white;
	margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow:0 1px 2px rgba(0,0,0,.05);
    width:100%;
}
.info_body{
	    padding-left: 10px;
	    min-height: 50px;
	    clear: both;
	    width:100%;
}
.info_body{
	font-size:16px;
}

.imgs{
	background:no-repeat center center / cover;
}
.info_body .imgs:last-child{
	margin-right:0px;
}

/* #imgList img{
	margin-right:4px;
	margin-bottom:4px;
	float:left;
	width:23%;
} */
.img_div{
	margin-right:4px;
	margin-bottom:4px;
	float:left;
	width:23%;
    text-align: center;
    border:1px solid #ccc;
    overflow: hidden;
    position:relative;
}

.like{
	color: #ff4a4a;
	cursor: pointer;
}
.comment{
	color:#5CA4DC;
	cursor: pointer;
}

#bottom_div{
	width:100%;
	height:20px;
	text-align:center;
	display:none; 
}
#data{
	display:none;
}
.publishTime{
	color:#999;
	font-size:12px;
	padding-left:1px;
}
.otherUserInfo p:first-child,.otherInfo p:first-child{
	margin-top:5px;
}


.imgMoreThanTwo{
	margin-right:4px;
	margin-bottom:4px;
	float:left;
	width:32%;
}
.imgMoreThanOne{
	margin-right:4px;
	margin-bottom:4px;
	float:left;
	width:48%;
}
.onlyImg{
	max-height:200px;
	    width: auto;
}
@media screen and (min-width:760px){
	  .imgList .imgs , .img_div{
		margin-right:4px;
		margin-bottom:4px;
		float:left;
		width:150px;
		height:150px;
	}
}


@-webkit-keyframes hpop { /* Safari 和 Chrome */ 
    0% {-webkit-transform: scale(1);-webkit-transform-origin: 50% 65%;}
    10% {-webkit-transform: scale(.8);-webkit-transform-origin: 50% 65%;}
    50%{-webkit-transform:scale(1.2);-webkit-transform-origin:50% 65%;}
    100%{-webkit-transform: scale(1.0);-webkit-transform-origin:50% 65%;}
}
.heartpop{
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: .32s;
    -webkit-animation-fill-mode: both;
}
.heartpop{ -webkit-animation-name: hpop; }
/**渐入的css动画**/
@-webkit-+ fshow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fhide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
