input,textarea{
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	border-radius:0px;
}
.header{
	background-color:white;
	width:100%;
	height:50px;
	margin-bottom:30px;
	text-align:center;
	line-height:50px;
	font-size:18px;
}
.x-info{
	margin-bottom:10px;
	padding-top:10px;
	    vertical-align: middle;
}
.x_left{
	margin-left:30px;
    display: inline-block;
        color: #999;
}
.x_right{
	float:right;
	margin-right:30px;
	font-size: 20px
}

body{
	background-color: #EAEAEA;
	color:#333;
}
.user-heading{
	float:left;
	padding:0px;
	background-color: white;
	border-bottom:1px solid #ddd;
}

.user-heading div{
	float:left;
	margin:10px;
}
.headImg{
	width:50px;
	height:50px;
	border-radius: 50%;
  	overflow: hidden;
}
.user-heading {
	width:100%;
}
.otherUserInfo{
}
.sex{
	width:16px;
	height:16px;
	display: inline-block;
	border-radius: 50%;
    text-align: center;
    line-height: 16px;
    color:white;
    font-size: 12px;
}
.male{
	background-color: #1690FD;
}

.female{
	background-color: #F8A2AB;
	padding-left:2px;
}

.info_div{
	background-color:white;
	margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow:0 1px 2px rgba(0,0,0,.05);
    width:100%;
}
.info_body{
	    padding: 15px;
	    min-height: 100px;
	    clear: both;
	    width:98%;
}
.info_body{
	font-size:16px;
}
.imgList img{
	margin-right:4px;
	margin-bottom:4px;
	float:left;
	width:31%;
}
#imgList img{
	margin-right:4px;
	margin-bottom:4px;
	float:left;
	width:23%;
}
.img_div{
	margin-right:4px;
	margin-bottom:4px;
	float:left;
	width:23%;
    text-align: center;
    border:1px solid #ccc;
    overflow: hidden;
    position:relative;
}

.like{
	color: #ff4a4a;
	cursor: pointer;
}
.comment{
	color:#5CA4DC;
	cursor: pointer;
}
#right_corner_menu{
	border-radius: 50%;
	text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    /*#09c64e*/
    border: 1px solid  #49dd7f;
    background: #49dd7f;
    opacity: .9;
    right: 10px;
    bottom: 10px;
    position: fixed;
    z-index: 11;
}
#right_corner_menu i{
	 line-height: 50px;
   	 color: #fff;
     font-size: 20px;
}
#category_menu{
    right: 10px;
    top: 15px;
    position: fixed;
    text-align: center;
    z-index: 11;
}
#menu_content p,#category_content p{
	cursor: pointer;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin: 0;
    text-align: center;
    min-width: 100px;
}

#menu_content p:hover,#category_content p:hover{
	background-color:#ccc;
}

#bottom_div{
	width:100%;
	height:20px;
	text-align:center;
	display:none; 
}
#data{
	display:none;
}
.publishTime{
	color:#999;
	font-size:12px;
	padding-left:1px;
}
.otherUserInfo p{
	margin-bottom:6px;
}

@media screen and (min-width:400px){
	
	#emotions{
		width:200px;
	}
}

@media screen and (min-width:1200px){
	   .imgList img , .img_div{
		margin-right:4px;
		margin-bottom:4px;
		float:left;
		width:150px;
		height:150px;
	}
	
	#emotions{
		width:565px;
	}
}




