<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper  namespace="com.l.wbb.mapper.TestMapper">
	<select id="testSelect" resultMap="a">
	 	select * from sequence where increment=#{arg0}
	</select>
	<resultMap type="java.util.Map" id="a">
		<result property="a" column="name"/>
		<result property="b" column="current_value"/>
		<result property="c" column="increment"/>
	</resultMap>
</mapper> 